<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574741489106-le99djhve3dio37herlfm33k8ous0din.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574741489106-le99djhve3dio37herlfm33k8ous0din</string>
	<key>API_KEY</key>
	<string>AIzaSyDN1REyP1Xqg9RzTipT3tj12xJ6t8Cy910</string>
	<key>GCM_SENDER_ID</key>
	<string>574741489106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzkr.DoneApp</string>
	<key>PROJECT_ID</key>
	<string>done-507cd</string>
	<key>STORAGE_BUCKET</key>
	<string>done-507cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574741489106:ios:fb721753ca2393b1dc540b</string>
</dict>
</plist>